body {
    background: #e5ebec;
}

header {
    margin-bottom: 100px;
}

.order-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter {
    display: flex;
}

.order-counter-input {
    margin-right: 25px;
}

.uk-button.order-counter-plus, .uk-button.order-counter-minus {
    padding: 0 15px;
}

.uk-card-media-top {
    text-align: center;
}
